@import 'bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap';
@import 'bower_components/fontawesome/scss/font-awesome';
@import 'index.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'search.scss';
@import 'contact.scss';
@import 'users/login.scss';
@import 'users/general.scss';
@import 'restaurants/general.scss';

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* GENERAL */

html, body {
  margin: 0px;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #ECECEC;
}

h1 {
  font-size: 2.8em;
}

h2 {
  font-size: 2.5em;
}

.small-text {
  font-size: 0.8em;
}

.grey {
  color: #999;
}

.black {
  color: #000;
}

.gold {
  color: #CB9A4E;
}

.black-link > a {
  color: #000;
  text-decoration-color: #000;
  text-decoration: underline;
}

.black-border {
  border: 1px solid #000;
  border-radius: 0;
  color: #000 !important;
}

hr.black-line {
  border-bottom: 1px solid #000;
}

.grey-background {
  background-color: #eee;
}

.no-padding {
  padding: 0 !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.full-width {
  width: 100%;
}










