#concept {

	border-top: 5px solid #eee;
	padding-top: 20px;

	img {
		max-height: 500px !important;
		margin: 0 auto !important;

		&.border {
			border-right: 1px solid #000;
			margin-right: 0%;
			padding-right: 10%;
		}

		&#concept-shrink {
			width: 92%;
		}
	}

	#concept-title {
		text-transform: uppercase;
		border-bottom: 1px solid #CB9A4E;
	}

	#concept-gold-titles {
		margin-top: 40px;
		margin-bottom: 20px;
		color: #CB9A4E;
		text-align: center;
		font-size: 2.3em;

		.concept-circle {
			margin-right: 10px;
			border-radius: 50px;
			border: 1px solid #CB9A4E;

			&.circle-1 { padding: 0px 13px; }

			&.circle-2 { padding: 0px 11px; }

			&.circle-3 { padding: 0px 12px 2px 12px; }
		}
	}

	#concept-gold-subtitles {
		font-size: 1.3em;
		text-align: center;

		p {
			margin: 0;
		}
	}
}

@media (max-width: 767px) {
  #concept {
		img {
			margin: 0 auto !important;

			&.border {
		    margin: 0 auto !important;
		    padding: 0;
		    border: none !important;
		  }
	  }
	}
}