.navbar {
  border-radius: 0px;
  margin-bottom: 0;
  width: 100%;
}

#main-nav-dropdown {
  z-index: 3;
}

#main-content {
  margin-top: 70;
}

.center {
  text-align: center;
}

div.container-fluid.fixed-nav > nav {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
}

div.container-fluid.fixed-nav > nav.transparent {
  background-color: rgba(255, 255, 255, 0);
}

li.dropdown.open > a {
  background-color: rgba(255, 255, 255, 0) !important;
}

.navbar-white {
  background-color: #fff !important;

  & > a {
    color: #000 !important;
    font-size: 1.2em;
    margin-top: 10px;
    text-transform: uppercase;
    
    &.active {
      padding-bottom: 5px;
      border-bottom: 2px solid #CB9A4E;
    }
  }
}

.fixed-nav {
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 0;
}

#logo-white {
  color: #fff;
  text-shadow: -1px -1px 4px #333;
  text-decoration: none;
}

#logo-black {
  color: #000;
  text-decoration: none;
}

#logo-link > a {
  &:link, &:visited, &:active, &:hover {
    text-decoration: none !important;
  }
}

.nav-item > a, span.nav-item {
  color: white !important;
  margin-top: 10px;
  font-size: 1.5em;
  text-transform: uppercase; 
  text-shadow: -0.5px -0.5px 4px #333;

  &.active {
    padding-bottom: 5px;
    border-bottom: 2px solid #CB9A4E;
  }
}

img.navbar-brand {
  height: 60px;
  margin: 0;
  padding: 5px 0 5px 10px;
}

.nav-icon {
  color: #CB9A4E;
  font-size: 2em;
  margin-right: 10px;
}