.landing-image {
  background-image: url("https://res.cloudinary.com/happydining/image/upload/v1424447625/goldlanding2000_foccn2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 70%;
  height: 600px;
}

#main-title {
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-top: 200px;
  text-shadow: -2px -2px 10px #333;
}

#second-home-title {
  text-align: center;
  color: #fff;
  text-shadow: -1px -1px 10px #333;
}

#concept-button {
  margin-top: 30px;
  padding: 15px;

  .register-gold {
    padding: 13px 50px 13px 50px;
    background-color: rgba(85, 90, 96, 0.8);
    border: 1px solid #000;
    text-transform: none;
  }
}
.register-gold {
  background-color: #CB9A4E;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  text-shadow: -0.5px -0.5px 4px #333;
  box-shadow: -0.5px -0.5px 10px #333;

  &:hover {
    color: #eee;
    box-shadow: none;
  }
}

#landing-middle-header {
  margin-top: 30px;
  margin-bottom: 50px;
  color: #000;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .landing-image {
    height: 100%;
    background-position: -300px 70%;
  }

  .special-height {
    height: 95%;
  }

  #main-title {
    font-size: 2em;
    margin-top: 200px;
  }

  #second-home-title {
    font-size: 1em;
  }

  .register-gold {
    font-size: 1.5em;
  }
}