.landing-image {
  background-image: url("https://s3-eu-west-1.amazonaws.com/happydining/goldlandinglaptop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 70%;
  height: 600px;
}

.black-transparent-background  {
  background-color: rgba(85, 90, 96, 0.3);
  padding: 20px 0 20px 0;
  width: 80%;
  margin: 160px auto 0 auto;

  #main-title {
    margin-top: 0;
  }
}

#main-title {
  margin-top: 160px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  h4 {
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(85, 90, 96, 0.3);
    font-weight: 400;
  }
}

#second-home-title {
  text-align: center;
  color: #fff;
  text-shadow: -1px -1px 10px #333;
}

#concept-button {
  margin-top: 30px;
  padding: 15px;

  .register-gold {
    padding: 13px 50px 13px 50px;
    background-color: rgba(85, 90, 96, 0.8);
    border: 1px solid #000;
    text-transform: none;
  }
}
.register-gold {
  background-color: #CB9A4E;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  text-shadow: -0.5px -0.5px 4px #333;
  box-shadow: -0.5px -0.5px 10px #333;

  &:hover {
    color: #eee;
    box-shadow: none;
  }
}

#landing-middle-header {
  margin-top: 30px;
  margin-bottom: 50px;
  color: #000;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .landing-image {
    height: 100%;
    background-position: -300px 70%;
  }

  .special-height {
    height: 95%;
  }
.black-transparent-background  {
  background-color: rgba(85, 90, 96, 0.3);
  padding: 20px 0 20px 0;
  margin-top: 160px;
  width: 100%;
}
  #main-title {
    font-size: 2em !important;
    margin-top: 0;
  }

  #second-home-title {
    font-size: 0.8em !important;
    margin-top: 30px;
  }

  .register-gold {
    font-size: 1em !important;
  }

}
.video{
    margin: 0 auto !important;

  }