#users-page {
	margin-top: 50px;
}

#user-edit {
	.register-gold {
		font-size: 1.2em;
	}
}

#profile-title {
  margin-top: 0;
}

.balance {
  font-size: 2em;
  color: red;
  font-weight: bold;
  margin-left: 10px;
}

.share-buttons {
	list-style: none;
}

.form-labels {
	font-size: 1.3em;
	font-weight: normal;
}

.share-buttons li {
	display: inline;

	.envelope {
		background-color: red;
		border-radius: 50px;
		padding: 8px 12px;
		font-size: 3.2em;
		color: white;
	}

	.facebook {
		background-color: #3E5C97;
		border-radius: 50px;
		padding: 8px 22px;
		font-size: 3.2em;
		color: white;
		margin-right: 50px;
	}

	.twitter {
		background-color: #1DADEA;
		border-radius: 50px;
		padding: 8px 13px;
		font-size: 3.2em;
		color: white;
		margin-right: 50px;
		margin-left: -50px;
	}
}

.white-box {
	text-align: center;
	padding: 15px;
	background-color: #fff;
	font-weight: bold;
	font-size: 1.2em;
}


.horizontal-nav {
	margin-left: 20px;
	padding: 10px;

	.nav-title {
		font-size: 1.5em;
		text-transform: capitalize;
		margin-left: 10px;
		padding-bottom: 2px;
		font-weight: bold;
	}

	.nav-link {
		list-style-type: none;
		margin-top: 15px;
		font-size: 1.1em;

		a {
			color: #000;

			&.active {
				font-weight: 900;
				font-size: 1.1em;
			}

			&:link, &:visited, &:active, &:hover {
				text-decoration: none;
			}
		}
	}
}

@media (max-width: 900px) {
	#user-edit {
		.register-gold {
			font-size: 1em;
		}
	}
}

@media (max-width: 768px) {
	#users-page {
		margin-top: 0px;
	}
	.form-labels {
		margin-top: 35px;
	}
}


