.mes-euros {

	#gold-euros-box {
		border: 2px solid #CA9956;
		background-color: #fff;
		padding: 5px 20px 10px 20px;
		margin: 5px 5px 0 0;

		.gold-balance {
			color: #CA9956;
			font-size: 2.2em;
			font-weight: bold;
		}
	}

	#mobile-balance {
		h3 {
			text-transform: uppercase;
			font-size: 1.1em;

		}
	}

	.col-8-box {
		padding: 15px;
		padding-left: 20px;
		margin-right: 20px;

		.users-title {		
			border-bottom: 1px solid #000;
			text-transform: capitalize;
			margin-left: 10px;
			padding-bottom: 2px;
			font-weight: bold;
		}

		.users-title-small {
			font-size: 0.8em;
			font-weight: none;
		}

		p {
			padding: 15px;
		}

		.register-gold {
			text-transform: none;
			font-weight: none;
			font-size: 1.5em;
			margin-bottom: 10px;
			text-shadow: none;
		}
	}
}

@media (max-width: 991px) {
	#mobile-balance {
		margin-top: 10px;
	}

	.mes-euros {

		.col-8-box {
			margin: 0;
			padding-left: 15px;
			margin-top: 15px;
		}

		#gold-euros-box {
			span.gold-balance {
				font-size: 1.5em;
			}
		}
	}
}