#reservation-day {
	border: 1px solid #000;
	padding: 20px;
	margin-bottom: 20px;
}

td.reservation-amount > input {
	font-size: 1em !important;
	width: 70px;
	height: 25px;
	margin-top: 10px;
}

.service-complet-box {
	border: 1px solid #000;
	padding: 20px;
}