.back-caret {
	font-size: 2em;
	text-shadow: 1px 1px 4px #999;
	margin-right: 10px;
	margin-top: 10px;
	margin-left: 25px;
}

.back-link > a {
	color: #000;
	margin-left: 5px;
}

#restaurant-show {
	margin: 0 30px;
	width: 95%;

	.restaurant-box {
		padding: 15px;
		max-height: 600px;

		#restaurant-image {
		  background-repeat: no-repeat;
		  background-size: cover;
		  background-position: top;
		  height: 400px;
		}

		h1 {
			margin-top: 0;
			font-size: 1.8em;
			font-weight: 900;
		}

		.address {
			font-size: 1.3em;
		}
	}
}